.imageContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.imageContainer img {
    border-radius: 1rem;
    object-fit: contain;
    filter: drop-shadow(rgb(114, 76, 76));
}